

<div class="table-container">
    <div class="table_controllers">
        <div class="filter_container">
            
        </div>
        <div class="actions_container">
            <button mat-flat-button (click)="openPopUpCreationIncident()">
                <mat-icon>add</mat-icon> Ajouter un incident
            </button>
        </div>
    </div>
    <table  mat-table [dataSource]="incidents$">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> # {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> User</th>
            <td mat-cell *matCellDef="let element"> {{getUserNameById(element.utilisateur)}} </td>
        
        </ng-container>
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Priority </th>
            <td mat-cell *matCellDef="let element"> <app-priority-info [value]="element.priority"></app-priority-info> </td>
        </ng-container> 
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> <app-status-incident-info [value]="element.status"></app-status-incident-info> </td>
        </ng-container>   
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>   
            <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button
                (click)="viewIncident(element.id)">
                <mat-icon class="edit-icon">visibility</mat-icon>
            </button>
            <button mat-icon-button
            (click)="editIncident(element.id)">
                <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button mat-icon-button
            (click)="deleteIncident(element.id)">
                <mat-icon class="delete-icon">delete</mat-icon>
            </button>
            
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
</div>

