/* You can add global styles to this file, and also import other style files */

$success-color : green;
$warning-color: #ffc107;
$fail-color:#e03b3b;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field{
    background-color: rgb(213, 213, 213) !important;
  }
h1{
    text-align: center;
  }
// ICON 
.icon{
   color: darkgrey;
  }
.icon:hover{
   color: black;
}
.delete-icon:hover{
  color: red;
}
  
  //TABLE
tr:hover{
  background-color: aliceblue;
}

// BADGE 

.badge{
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  width: 20px;
}
.warning{
 background-color:  $warning-color;
}
.danger{
  background-color: $fail-color;
  color: whitesmoke;
}
.secondary{
  color: whitesmoke;
  background-color: #6c757d
}
.success{
  background: $success-color;
  color: whitesmoke;
}
// FORMULAR 

form{
  width: 90%;
  margin: auto;
  align-items: center;
}
mat-form-field{
  width: 100%;
  margin: auto;
}
textarea{
  width: 80%;
  margin: auto;
}
.btnsubmit{
  display: inline;
  width: 40%;
  height: 5vh;
  margin-left: 1vh;
}
.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: whitesmoke;
  --mdc-snackbar-supporting-text-color: whitesmoke;
  &.success {
    --mdc-snackbar-container-color: green ;
  
  }
  &.failure {
    --mdc-snackbar-container-color: #e03b3b;
  }
 
}