/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field{
    background-color: rgb(213, 213, 213) !important;
  }
  h1{
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column !important;
    width: 70%;
    margin: auto;
  }
  .btnsubmit{
    display: inline;
    width: 30vh;
    height: 7vh;
    margin-left: 1vh;
  }
  .icon{
    color: darkgrey;
  }
  .icon:hover{
    color: black;
  }
  .delete-icon:hover{
    color: red;
  }
  tr:hover{
    background-color: aliceblue;
  }
.badge{
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  width: 20px;
}
.badge-warning{
 background-color: #ffc107 !important;
}
.badge-danger{
  background-color: #c65252;
  color: whitesmoke;
}
.badge-secondary{
    color: whitesmoke;
    background-color: #6c757d
}
.badge-sucess{
  background: green;
  color: whitesmoke;
}