<div>
<button mat-icon-button id="back_icon_button"
            (click)="back()">
                <mat-icon id="back_icon" class="icon">arrow_back</mat-icon>
            </button>
</div>
<div id="container_incident" *ngIf="incident != null "> 
    <div class="infos_container">

    <mat-card appearance="outlined" class="card" id="description_card">
        <mat-card-content>
                <h3>{{incident.title}}</h3>
                <h4>Description</h4>
                <p>{{incident.description}}</p>
       
    <div id="container_commentaries" *ngIf="incident != null ">
        <h4>Commentaries</h4>
        <app-commentary *ngFor="let commentary of incident?.commentaries" [commentary]="commentary">
        </app-commentary>
        <mat-card class="commentary_container">
            <mat-card-content>
                <app-manage-commentaries [edit]="false" [idIncident]="idIncident" ></app-manage-commentaries>
            </mat-card-content>
        </mat-card>
    
    </div>
</mat-card-content>
</mat-card>
    </div>
    <div class="status_container">
        <mat-card appearance="outlined">
            <mat-card-content>
                <div class="status">
                <span>Priority: </span><app-priority-info [value]="incident.priority"></app-priority-info>
                </div>
                <div class="status">
                    <span>Status: </span><app-status-incident-info [value]="incident.status"></app-status-incident-info> 
                </div>
                <div class="status">
                    <span>Assignated to :</span> <span> {{ getUserNameById(incident.user)}} </span>
                </div>  
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
