
<title mat-dialog-title> Créer un incident</title>
<form [formGroup]="incidentForm" (ngSubmit)=" edit ?  soumettreModification() : soumettreCreation()" >
    
    <mat-dialog-content>
        <mat-form-field  >
            <mat-label>Titre </mat-label>
            <input matInput class="form-control" formControlName="titre" />
        </mat-form-field>
        <mat-form-field  >
            <mat-label>Description </mat-label>
            <textarea  matInput class="form-control" formControlName="description">
            </textarea> 
        </mat-form-field>
        <mat-form-field>  
            <mat-label>Priorité</mat-label>
            <mat-select matNativeControl class="form-select form-select-sm" formControlName="priorite" >
                <mat-option *ngFor="let pKey  of prioriteKeys" [value]="+pKey[1] +1">
                    {{pKey[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field >
        <mat-form-field *ngIf="edit===true">  
            <mat-label>Priorité</mat-label>
            <mat-select matNativeControl class="form-select form-select-sm" formControlName="statut" >
                <mat-option *ngFor="let pKey  of statutKeys" [value]="pKey[1]">
                    {{pKey[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field >
        <mat-form-field>  
            <mat-label>Utilisateur</mat-label>
            <mat-select matNativeControl class="form-select form-select-sm" formControlName="utilisateur" >
                <mat-option *ngFor="let util  of utilisateurs" [value]="util.id">
                    {{util.id}} {{util.prenom }} {{util.nom | uppercase}} <{{util.mail}}>
                </mat-option>
            </mat-select>
        </mat-form-field >
    </mat-dialog-content>
    <mat-dialog-actions>
            <button mat-raised-button class="btnsubmit" (click)="closeDialog()" >Retour à la liste des incidents</button>
            <button *ngIf="!edit"  mat-flat-button class="btnsubmit" type="submit" >Créer un incident</button>
            <button *ngIf="edit"  mat-flat-button class="btnsubmit" type="submit" >Modifier un incident</button>
    </mat-dialog-actions>
</form>
    